@import "bootstrap/scss/functions";
@import "./variables";
@import "bootstrap/scss/bootstrap";
@import "_utilities";

.navbar {
  padding: 10px 20px;
}
.badge{
    background-color: red !important;
    border-radius: 50%!important;
}